@{
    ViewBag.Title = "Index";
}

<h1>Facebook C# SDK ASP.NET MVC3 Canvas Application without Facebook JavaScript SDK</h1>
<p>This sample demonstrates the use of Facebook C# SDK ASP.NET MVC3 along with the OAuth 2.0 feature of Facebook without the Facebook Javascript SDK as a Facebook Canvas Application.</p>
       
<strong>Hi @ViewBag.Name</strong><br/>

<img src="@ViewBag.ProfilePictureUrl"/>

<table>
    <tr>
        <td>First Name:</td>
        <td>@ViewBag.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@ViewBag.LastName</td>
    </tr>
</table>

<br/>

@using (Html.BeginForm("MessagePost", "Facebook")) {
    <label for="message">Message</label><br/>
    <textarea id="message" name="message" style="width: 300px; height:100px;"></textarea><br/>
    <input type="submit" value="Post To Wall"/>
    @* Make sure to manually maintain the signed_request for post back or ajax requests *@
    @Html.FacebookSignedRequest()
}

@if (ViewBag.MessagePostSuccess) {
    <div>Message posted successfully.</div>
}