@using Facebook;
@model IFacebookApplication

<table>
    <tr>
        <td>App Id:</td>
        <td>@Model.AppId</td>
    </tr>
    <tr>
        <td>App Secret:</td>
        <td>@Model.AppSecret</td>
    </tr>
    <tr>
        <td>Site Url:</td>
        <td>@Model.SiteUrl</td>
    </tr>
    <tr>
        <td>Canvas Page:</td>
        <td>@Model.CanvasPage</td>
    </tr>
    <tr>
        <td>Canvas Url:</td>
        <td>@Model.CanvasUrl</td>
    </tr>
</table>